
/*SideBar and Header*/

.header{
  background-color: #404040;
  padding: 10px;
  color:#808080;
}

.nav-sidebar {
    width: 200px;
    height:900px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 1px 0 0 1px;
    -moz-border-radius: 1px 0 0 1px;
    border-radius: 1px 0 0 1px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #808080;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
    background-color: #A9A9A9;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.row{
  height: 900px;
  width:auto;
  float:left;
  overflow:hidden;

}
.main{

  width: 940px;
  height:900px;
  padding: 50px;
  float: left;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.form{
  padding: 8px;
}

/*Main Chat Body*/
.message-candidate {
  background: rgba(223, 229, 121, 0.9);
  padding: 40px;
  max-width: 600px;
  margin-bottom: 10px;
}

.message-hiring-manager {
  background: rgba(0, 167, 204, 0.9);
  padding: 40px;
  max-width: 600px;
  margin-bottom: 10px;
}

.messaging {
  max-width: 600px;
  margin-top: 20px;
}

.message-text {
  margin-top: 10px;
}

.message-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
  display: inline-block;
}

.message-name {
  margin-left: 10px;
  display: inline-block;
}

/*Chat CSS*/

.daycol
  {
    height: 60px;
    width: 100%;
    float: left;
    padding: 20px;
    background-color: rgb(215, 230, 238);

    vertical-align: top;
  }
  .oddChat
  {
    background-color: rgb(215, 230, 238);
    text-align: left;
  }
  .evenChat
  {
    background-color: rgb(147, 182, 202);
    text-align: right;
  }

  /*Username Formatting*/
  .username
  {
    margin:35px;
  }

  .username-footer{
    margin-left: 20px;
  }
  .username-body{
    margin: 20px;
  }
