<form class="form" ng-submit='modal.addRoom(roomName)'>
  <h2>Create New Room</h2>
  <label for="roomName">Enter a Room Name: </label>
</br>
  <input type="text" name="roomName" value="" ng-model='roomName'>
  <button type="submit" name="" value="Create Room">Create Room</button>
  <!-- <button type="submit" name="" value="Create Room">Close</button> -->
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</form>
