<div class="container">
  <div class="header">
    </br>
    <h1>Bloc Chat</h1>
    </br>
  </div>

    <div class="row">
        <div class="col-sm-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li class="active"><a href="javascript:;" ng-click="home.openModal(home.rooms)">+ Create Room</a></li>
                    <li ng-repeat="room in home.rooms" ng-click="home.setActiveRoom(room)">
                      <a href="javascript:;">
                      {{ room.name }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="main">
      <div class="chatTitle">
        <h2 >{{ home.activeRoom.name }}</h2>
        <div ng-repeat="message in home.messages">
              <div class="daycol"
                ng-class-odd="'oddChat'"
                ng-class-even="'evenChat'">
                {{ message.content }}</br>
                <small class="text-muted">{{ message.username }} {{ message.sentAt }}</small>
              </div>
        </div>
        <!-- <p ng-repeat="message in home.messages">
          {{ message.username }}: {{ message.content }}
        </p> -->
      </div>
    </div>
</div>
