<div class="container">
  <div class="header">
    </br>
    <h1>Bloc Chat</h1>
    </br>
  </div>

    <div class="row">
        <div class="col-sm-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li class="active"><a href="javascript:;" ng-click="home.openModal()">+ Create Room</a></li>
                    <li ng-repeat="room in home.rooms"><a href="javascript:;">
                      {{ room.name }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
